table.admin {
    thead {
        border-top: 2px solid #E8E4E4;
        background: #F3F3F3!important;
        tr {
            border-bottom: 2px solid #E8E4E4;
        }
    }
}
.move-top-10 {
    transform: translateY(-10px);
}
.w10 {
    width: 10px;
}
.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}
.w200 {
    width: 200px;
}
