@import "base";
@import "hoa";
@import "nghiep";

#header, #footer {
	height: 100px;
	width: 100%;
	background: #D0D0D0;
	text-align: center;
	font-weight: bold;
    font-size: 30px;
}
main {
	min-height: 500px;
}

#sizebar {
	display: block;
	width: 90%;
	position: static;
	
	&>li.current {
		a{
			font-weight: bold!important;
		}
	}
}

