/* Variable, reset, common SCSS */
$text-color: #3a3a3a;



@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$headings-font-family: 'Roboto', sans-serif;
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

/* Notice Background  */
.error-notice {
  margin: 5px 5px; /* Making sure to keep some distance from all side */
}

.oaerror {
  width: 90%; /* Configure it fit in your design  */
  background-color: #FFFFFF; /* Default background */
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.danger {
  border-left-color: #d9534f; /* Left side border color */
  background-color: rgba(217, 83, 79, 0.1); /* Same color as the left border with reduced alpha to 0.1 */
}

.danger strong {
  color:  #d9534f;
}

.warning {
  border-left-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
  color: #f0ad4e;
}

.info {
  border-left-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}

.info strong {
  color: #5bc0de;
}

.success {
  border-left-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
  color: #2b542c;
}
.content{
  background-color:#ffffff;
}

/* Flash Background*/
.flashBg {
    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 2s;
}
@keyframes flash {
    0% { background: #CD4B5B; }
    100% { background: none; }
}