/* Variable, reset, common SCSS */
$text-color: #3a3a3a;
$body-bg: #dc5e61;
$headings-font-family: 'Roboto', sans-serif;

.cart{
    position: absolute;
    top: 8px;
    right: 0;
    padding: 2px 4px !important;
    font-size: 10px;
    margin: 0 !important;
    height: auto !important;
    background-color: black;
    width: 18px;
    border-radius: 50%
}

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
textarea {
  resize: vertical;
}
.noselect {
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}

/* Notice Background  */
.error-notice {
  margin: 5px 5px;
}

.oaerror {
  width: 90%;
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.danger {
  border-left-color: #d9534f; 
  background-color: rgba(217, 83, 79, 0.1);
}

.danger strong {
  color:  #d9534f;
}

.warning {
  border-left-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
  color: #f0ad4e;
}

.info {
  border-left-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}

.info strong {
  color: #5bc0de;
}

.success {
  border-left-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
  color: #2b542c;
}
.content{
  background-color:#ffffff;
}

/* Flash Background*/
.flashBg {
    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 2s;
}

.link{
  position: relative;
  display: inline-block;
  background: #2e3e4b;
  color: #eae6e3;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
}

.thumb1{
  position: relative;
  background: #ffffff;
  text-align: center;
  margin: 57px 0 13px;
  padding: 25px 26px 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  &:hover{
    background: #dc5e61;
    color: #ffffff;
    p{
      color: #ffffff;
    }
    .circle{
      background: #ffffff;
      color: #dc5e61;
    }
    h5 a{
      color: #2e3e4b;
      &:hover{
        color: #ffffff;
      }
    }

    .link{
      color: #2e3e4b;
      background: #ffffff;
      &:hover{
        color: #dc5e61;
        background: #2e3e4b;
      }
    }
  }
}

button.link{
  border:none;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
  &:hover{
    text-decoration: none;
    color: #dc5e61;
    cursor: pointer;
  }
}

.cursor:hover{
  cursor:pointer;
}

@keyframes flash {
    0% { background: #CD4B5B; }
    100% { background: none; }
}

@media screen and (max-width: 768px) {
  ul.nav ul.dropdown-menu {
    display: block;
    width:100%;
    a{
      text-align:center;
    }
  }
}

@media screen and (min-width: 994px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.margin-top-10 {
  margin-top: 10px;
}

span.label[class *= 'label-'], label.label[class *= 'label-'] {
  text-transform: capitalize;
}