.err{
  color: red;
}

.trans{
  th{
    background-color:rgba(205, 94, 86, 0.9);
    color:white;
  }
  tr:nth-child(2n)
    {
      background:#E7F6FD;
    }
}

.navbar-default {
  background-color: #dc5e61;
  border-color: #df797b;
  .navbar-nav {
    li {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      a {
        color: #eae6e3;
        padding-left: 30px;
        padding-right: 30px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        &:hover {
          color: #dc5e61;
          -webkit-transition: 1s;
          transition: 1s;
        }
        .caret{
        	margin: initial;
    			margin-left: 5px;
    			margin-top: 8px;
        }
      }
      &:hover {
        background-color: #e7e7e7;
        transition: 1s;
        span {
        	color: #dc5e61;
		      transition: 1s;
        }
        b{
        	color:#dc5e61;
        }
      }
      span{
        color: #ffffff;
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 14px;
        float: left;
        height:50px;
      }
      b{
      	color: #ffffff;
      	margin-top: 22px;
        float: right;
        margin-right:5px;
      }
      ul li{
      	&:hover{
      		background-color:#c9c9c9;
      	}
      	a{
      		color: indianred;
			background-color: initial;
      	}
      }
    }

    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0 auto;
    .active a {
      color: #dc5e61;
    }
  }

  .navbar-ex1-collapse {
    text-align: center;
  }
}

.header_bg {
  background: url(images/banner.png) no-repeat center top;
  margin-top: 100px;
  text-align: center;
  .slogan {
    text-transform: uppercase;
    color: #ff989a;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 24px;
  }
  .unit {
    position: relative;
    color: #eae6e3;
    padding-top: 160px;
    .title1 {
      font-size: 36px;
      line-height: 36px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 300;
    }
    .title2 {
      font-size: 100px;
      line-height: 100px;
      font-family: 'Bevan';
      letter-spacing: 1px;
      margin: 8px 0 10px;
    }
    p {
      display: inline-block;
      padding-right: 10px;
      margin-top: 4px;
      color: #eae6e3;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      margin-bottom: 0px;
    }
  }
  img {
    margin: 0 auto;
  }
  .list {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    text-align: left;
    -webkit-padding-start: 0px;
    padding-start: 0px;
    list-style-type: none;
    li {
      position: relative;
      float: left;
      text-align: center;
      background: #eae6e3;
      color: #dc5e61;
      text-decoration: none;
      font-size: 14px;
      line-height: 27px;
      width: 29px;
      height: 29px;
      font-weight: bold;
      border-radius: 28px;
      margin-left: 5px;
    }
  }
  .ticket {
    color: #2e3e4b;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    margin-left: 10px;
    margin-top: -3px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    a {
      display: inline;
      color: black;
      text-decoration: none;
      transition: 0.3s;
      &:after {
        background: url(images/arr2.png) 0 0 no-repeat;
        content: "";
        height: 40px;
        letter-spacing: 0;
        position: absolute;
        right: -30px;
        top: 0;
        width: 20px;
        transition: 0.3s;
      }
      &:hover {
        color: #eae6e3;
        transition: 0.7s;
        &:after {
          background: url(images/arr3.png) 0 0 no-repeat;
          transition: 0.7s;
        }

      }
    }
  }
}

.home{
.content {
  background: #ffffff;
  .p29 {
    padding: 29px 0 0px;
  }
  .bg2 {
    background: #2e3e4b;
  }
  .game {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0 0 66px;
    border-bottom: 6px solid #eae6e3;
    margin-bottom: -6px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:after {
      position: absolute;
      content: "";
      background: url(images/arr4.png) center 0 no-repeat;
      bottom: 0;
      left: 45%;
      height: 13px;
      width: 25px;
      transition: all 0.3s ease;
    }
    &:hover {
      border-bottom: 6px solid #dc5e61;
      &:after {
        background: url(images/arr5.png) center 0 no-repeat;
      }
    }
    h3 {
      color: #eae6e3;
      margin: 0px;
    }
    p {
      color: #6f7f8c;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 0px;
      span {
        color: #eae6e3;
      }
    }
    .list {
      margin-top: 14px;
      overflow: visible;
      padding-left: 0px;
      &:after {
        position: absolute;
        content: "";
        bottom: -20px;
        background: #45525b;
        left: 38%;
        height: 2px;
        width: 50px;
      }
    }
  }
}

.list {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  text-align: left;
  li {
    position: relative;
    float: left;
    text-align: center;
    background: #eae6e3;
    color: #dc5e61;
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
    width: 29px;
    height: 29px;
    font-weight: bold;
    border-radius: 28px;
    margin-left: 5px;
  }
}

h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.bg3 {
  background: #eae6e3;
  .image {
    left: -34px;
    margin-bottom: -23px;
    position: relative;
    top: -23px;
  }
}

.bg4 {
  background: #ffffff;
}

.p9{
  padding: 50px 0 50px;
  .col-md-offset-6{
    text-align:right;
  }
  span._placeholder{
    left: 0px;
    top: 0px;
    width: 274px;
    height: 42px;
  }
  #contact-form{
    position: relative;
    margin: -3px 0;
    padding: 0;
    button:hover{
      background-color:#dc5e61;
    }
    .contact-form-loader{
      position: absolute;
      z-index: 9;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.9);
      background-image: url(images/form-loader.gif);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      opacity: 1;
    }
    textarea{
      width: 100%;
      line-height: 35px;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      background: #ffffff;
      color: #bfac9d;
      padding: 3px 12px;
      outline: none;
      border: 1px solid #d9d6d3;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      resize: none;
      height: 267px;
      margin: 0;
    }
    .fieldset{
      border: none;
    }

    label{
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    input[type='text']{
      width: 100%;
      color: #bfac9d;
      background: #ffffff;
      line-height: 35px;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      padding: 3px 12px;
      outline: none;
      height: 42px;
      border: 1px solid #d9d6d3;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
    }
    .err{
      right: 8px;
      top: 11px;
      color: #dc5e61;
      height: 0;
      overflow: hidden;
      font-size: 11px;
      -webkit-transition: 0.3s ease-in height;
      transition: 0.3s ease-in height;
      z-index: 99;
    }
  }
}

.p44 {
  padding: 47px 0 44px;
}

.p47 {
  padding: 47px 0 57px;
}

.p50 {
  padding: 50px 0 41px;
}

.p35 {
  padding: 35px 0 0;
  margin-bottom: -6px;
}

img {
  vertical-align: top;
}

.block {
  position: relative;
  overflow: hidden;
  padding-top: 48px;
  h2 {
    letter-spacing: 2px;
    margin-bottom: 22px;
  }
}

h2 {
  font-size: 36px;
  line-height: 38px;
  margin-bottom: 30px;
  font-weight: 300;
  color: #2e3e4b;
  letter-spacing: 1px;
  text-transform: uppercase;
  span {
    color: #dc5e61;
    text-transform: none;
  }
}

h4 {
  color: #2e3e4b;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
  margin-bottom: 20px;
}

h5 {
  color: #ad9480;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: .6px;
  text-transform: uppercase;
}

.container {
  .alpha {
    margin-left: 0px;
  }

  .omega {
    margin-right: 0px;
    ul {
      position: relative;
      overflow: hidden;
      text-align: center;
      margin-top: 7px;
      padding-left: 0;
      li {
        float: left;
        color: inherit;
        width: 33.3333333%;
        a {
          display: block;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 18px;
          padding: 46px 0 49px;
          text-transform: uppercase;
          transition: 0.5s;
          &:hover {
            opacity: .8;
            text-decoration: none;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

.link1 {
  color: #dc5e61;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 11px;
  display: inline-block;
  &:hover {
    color: #2e3e4b;
    text-decoration: none;
  }
}

.col1 {
  background: #2e3e4b;
  color: #eae6e3 !important;
}

.col2 {
  background: #dc5e61;
  color: #eae6e3 !important;
}

.col3 {
  background: #ffffff;
  color: #2e3e4b !important;
  &:hover {
    color: #2e3e4b;
  }
}

p {
  color: #bfac9d;
  font-weight: 400;
}

.thumb {
  position: relative;
  overflow: hidden;
  text-align: center;
  border-top: 6px solid #eae6e3;
  border-bottom: 6px solid #dc5e61;
  transition: all 0.4s ease;
  &:after {
    position: absolute;
    content: "";
    background: url(images/arr5.png) center 0 no-repeat;
    bottom: 0;
    left: 45%;
    height: 13px;
    width: 25px;
    transition: all 0.3s ease;
  }
  &:hover {
    border-top: 6px solid #dc5e61;
    .caption {
      background: #dc5e61;
      a {
        color: #ffffff;
        &:hover {
          color: #2e3e4b;
          text-decoration: none;
        }
      }

      p {
        color: #ffffff;
      }

      span {
        color: #ffffff;
      }
    }
  }
  .caption {
    background: #eae6e3;
    padding: 17px 16px 20px;
    transition: all 0.3s ease;
    p {
      color: #2e3e4b;
      font-weight: bold;
      letter-spacing: .3px;
    }
    span {
      color: #dc5e61;
      font-weight: 400;
    }
    a {
      text-transform: uppercase;
      letter-spacing: .3px;
      color: #ad9480;
      font-weight: bold;
    }
  }
  img {
    width: 100%;
    max-height: 181px;
  }
}

.gray{
  color: #eae6e3;
}

.bq{
  position: relative;
  span{
    background: #ffffff;
    position: absolute;
    left: 0;
    top: -12px;
    height: 50px;
    width: 50px;
    border-radius: 500px;
  }
  p{
    color: #6f7f8c;
  }
  a{
    color: #dc5e61;
    display: inline-block;
    text-transform: uppercase;
    &:hover{
      color: #eae6e3;
      text-decoration: none;
    }
  }
  b{
    display: block;
    color: #dc5e61;
  }
  img{
    width: 100%;
  }
  .fa{
    position: absolute;
    color: #dc5e61;
    font-size: 30px;
    text-align: center;
    left: 11px;
    top: 10px;
  }
}

.circle{
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 80px;
  width: 80px;
  line-height: 78px;
  font-size: 48px;
  text-align: center;
  background: #dc5e61;
  color: #eae6e3;
  margin-top: -84px;
  border-radius: 500px;
}

.carousel-control{
	position:initial;
	float:right;
	width:40px;
	&.left{
		text-align: center;
		background-image: none;
	}
	&.right{
		margin:0;
		text-align: center;
		background-image: none;
	}
	span{
		font-size:40px
	}
}

.list1 {
  &.asd {
    li {
      &:after {
        display: none;
      }
    }
  }
  list-style-type: none;
  padding-left: 0px;
  li {
    margin-left: 16px;
    position: relative;
    a {
      color: #dc5e61;
      font-size: 14px;
      line-height: 24px;
      &:hover {
        color: #ad9480;
        text-decoration: none;
      }
    }
    &:after {
      position: absolute;
      content: "-";
      left: -14px;
      top: 2px;
      color: #dc5e61;
    }
  }
}

.block1 {
  .left {
    float: left;
    margin-right: 20px;
  }
}

.dropdown-menu{
	background-color: #e7e7e7;
}

@media screen and (min-width: 994px) {
  .left {
    text-align: right;
    margin-bottom: 20px;
  }
  .right {
    text-align: left;
  }

  .alpha {
    padding-left: 0px;
  }

  .omega {
    padding: 0px;
  }
}

@media screen and (max-width: 990px) {
  .content {
    .game {
      margin-top: 30px;
    }
  }

  .right {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}
}

.address1{
  text-align: left;
  display: inline-block;
  margin: -3px 0;
  p{
      color: #bfac9d;
      font-size: 14px;
      line-height: 20px;
      font-family: 'Roboto';
      margin: 0;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .8px;
    }
    dd{
      color: #bfac9d;
      font-size: 14px;
      line-height: 20px;
      font-family: 'Roboto';
      font-weight: 400;
      font-style: normal;
      text-align: left;
      width: 181px;
      letter-spacing: 0;
    }
}

ul {
  list-style: none;
}
.ticket{
  ul{
    padding-left:0;
  }
  .list{
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 0;
      text-align: left;
      li{
        position: relative;
        float: left;
        text-align: center;
        background: #FEC732;
        color: #000000;
        text-decoration: none;
        font-size: 14px;
        line-height: 27px;
        width: 29px;
        height: 29px;
        font-weight: bold;
        border-radius: 28px;
        margin-left: 1px;
      }
      .powerball{
          background-color:#F06;
          color:#ffffff;
        }
  }
}
.footer {
  position: relative;
  text-align: center;
  padding: 72px 0 91px;
}

