body.winnings {
	.actions {
		margin-top: 20px;
		display: flex;
		justify-content: space-around;
	}
}

body.game-powerball {
    .header-game {
        width: 100%;
        min-height: 125px;
        padding: 5px;

        background: #B30408 url(images/header_powerball.png) no-repeat;
        background-size: cover;

        color: #fff;


        .jackpot {
            padding: 10px;
        }

        .draw-date {
            clear: both;
        }

        .tickets {
            input{
                color: $text-color;
                outline: none;

                &[type=text] {
                    padding: 2px;
                    text-align: center;
                    width: 30px;
                }
            }
        }
    }
}

/* COMMON */
body.content-games {
    >main {
        padding-top: 10px;
    }
    .sizebar {
        .box {
            padding: 10px 3px;
            border-bottom: 1px solid #ccc;
            text-align: initial;

            a{
                display: inline-block;
            }

            &:first-child {
                padding-top: 100px;
            }
            
            &:last-child {
                border-bottom: none;    
            }
        }
    }

    .game {
        border-right: 1px solid #ccc;
        text-align: normal;
        .header {
            &>h1{
                color: #4677c4
            }
        }

        .main-game {

            .view-game {
                margin-top: 10px;

                .top-controls {
                    margin-bottom: 10px;
                }

                .tickets {
                    border: 1px solid #ccc;
                    padding: 10px;
                    clear: both;
                    margin-bottom: 20px;

                    .ticket {
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        width: calc(100% / 4);
                        word-wrap: break-word;
                        padding: 15px 5px;

                        .numbers {
                            .choose {
                                margin: 10px 0px;
                            }

                            .list-numbers {
                                background: #F1F0F0;
                                padding: 5px 0px;

                                .numner {
                                    border: 1px solid #ccc;
                                    margin: 3px 3px 3px 5.3px;
                                    padding: 1px 2px;
                                    display: inline-block;
                                    width: 24px;
                                    text-align: center;
                                    cursor: pointer;
                                    background: #fff;

                                    
                                }
                            }

                            
                        }
                    }
                }
            }
        }
    }
    

    
}