@import "base";
@import "mixins";
@import "functions";
@import "hoa";
@import "nghiep";
@import "responsive";

main {
	min-height: 500px;
    padding: 20px 0px;
}

#sizebar {
	display: block;
	width: 90%;
	position: static;
	
	&>li.current {
		a{
			font-weight: bold!important;
		}
	}
}

#header {
	.top-header {
	    border-bottom: 1px solid #ccc;
	    height: 37px;
	    width: 100%;
	    line-height: 37px;

	    p.text-welcome {
	    	font-size: 0.9em;
	    }

	    ul.right-menu {
            
            @include media-query('min', $screen-sm-min) {
                display: flex;
                justify-content: flex-end;
            }
            
	    	&>li {
				float: left;
				position: relative;

				&.my-acccount {
					padding-right: 10px;
				}

				a{
					color: #959595;
					font-size: 0.9em;
					display: inline-block;
					padding: 0px 10px;

					&:hover {
						text-decoration: underline;
					}


				}

				&:not(:last-child):after {
					content: '|';
					position: absolute;
					right: 0px;
					top: 0px;
				    font-size: 0.8em;
				}

				&.lang-current {
					a{
						color: $primary-bg-color;
					}
				}
			}
	    }
	}
    
    .logo {
    	padding: 10px 0;

		.link-logo {
			display: block;
		}
    }

    .main-navigation {
    	background: $primary-bg-color;
    	border-top: 3px solid #D0D0C1;

    	.list-nav {
    		li {
    			float: left;
    			position: relative;

    			a{
    				color: #fff;
    				display: inline-block;
    				padding: 9px 40px;
    				text-transform: uppercase;

                    @include media-query('max', $screen-xs-min) {
                        padding: 9px 20px;
                    }

    				&:hover, &.active {
    					color: $primary-color;
    					background: #fff;

    				}
    			}

    			ul.sub-nav {
    				display: none;
    				border: 1px solid $primary-bg-color;
    				padding-left: 0px;
    				background: #fff;
    				z-index: 90;
    				width: 100%;

                    @include absolute-center(true, false);

					li {
						float: none;
						text-align: center;

						a {
							color: $text-color;
							display: inline-block;
							text-align: center;
							width: 100%;
							font-size: 0.9em;
							padding: 8px 10px;

							&:hover {
								color: $primary-bg-color;
							}
						}
					}

					&:after {
						content: '';
						position: absolute;
						top: -12px;
						left: calc(50% - 6px);
						border-width: 6px;
						border-style: solid;
						border-color: transparent transparent $primary-bg-color transparent;
					}
					&:before {
						content: '';
						position: absolute;
						top: -10px;
						left: calc(50% - 5px);
						border-width: 5px;
						border-style: solid;
						z-index: 1;
						border-color: transparent transparent #fff transparent;
					}
    			}
				
				&:hover ul {
					display: block;
				}
    		}
    	}
    }
}

#footer {
    color: #858585;
    background: #333333;

    .header {
        text-align: center;
        padding: 40px 0px;
        box-shadow: 0 -1px 0 rgba(0,0,0,.15) inset;
        border-bottom: 1px solid rgba(255,255,255,.05);

        h2 {
            color: rgb(221, 221, 221);
            font-weight: 100;
            font-size: 1.7em;
            font-family: "helvetica neue",aktiv-grotesk-std,helvetica,arial,freesans,"liberation sans","numbus sans l",sans-serif;    
         }
    }

    .links {
        @include flex-center(true, true);
        
        padding: 30px 0px;
        box-shadow: 0 -1px 0 rgba(0,0,0,.15) inset;
        border-bottom: 1px solid rgba(255,255,255,.05);

        &>a{
            width: 250px;
            min-height: 100px;
            display: block;
            overflow: hidden;
            text-align: center;
            transition: all 0.3s;
            padding: 20px 40px;

            &:hover {
                text-decoration: none;
                background-color: rgba(255,255,255,.1);
                cursor: pointer;
                border-radius: 2px;
                color: #ccc;
            }

            header {
                text-transform: uppercase;
                color: #ddd;
                letter-spacing: 1px;
                font-weight: 400;
                margin-bottom: 10px;
                white-space: nowrap;
                font-size: 0.95em;    
            }
        }
    }

    .footer {
        text-align: center;
        padding: 20px 0 70px;

        a{
            color: rgb(85, 85, 85);
            font-size: 12px;
            display: inline-block;
            margin: 0 4px;

            &:hover {
                color: #777;
            }

            &:not(:last-child):after {
                content: '.';
                display: inline-block;
                margin-left: 8px;
                transform: translateY(-3px);
            }
        }
    }
}
