/* Variable, reset, common SCSS */
$text-color: #666;
// $body-bg: #dc5e61;
$headings-font-family: 'Roboto', sans-serif;
$primary-color: #fb7e04;
$primary-bg-color: #FB7E04;//D9534F

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

ul {
  margin-bottom: 0px;
  list-style: none;
  padding: 0px; 
}

textarea {
  resize: vertical;
}
.noselect {
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}

/* Notice Background  */
.error-notice {
  margin: 5px 5px;
}

.oaerror {
  width: 90%;
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  font-size: 16px;
}

.danger {
  border-left-color: #d9534f; 
  background-color: rgba(217, 83, 79, 0.1);
}

.danger strong {
  color:  #d9534f;
}

.warning {
  border-left-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
  color: #f0ad4e;
}

.info {
  border-left-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}

.info strong {
  color: #5bc0de;
}

.success {
  border-left-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
  color: #2b542c;
}


/* Flash Background*/
.flashBg {
    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 2s;
}

.disabled {
  pointer-events: none;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;

  &:hover{
    text-decoration: none;
    color: #dc5e61;
  }
}

.cursor:hover{
  cursor:pointer;
}

@keyframes flash {
    0% { background: #CD4B5B; }
    100% { background: none; }
}

.margin-top-10 {
  margin-top: 10px;
}

span.label[class *= 'label-'], label.label[class *= 'label-'] {
  text-transform: capitalize;
}

.page-breadcrumb {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #efeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;

  li {
    float: left;
  }
}