.err{
  color: red;
}

.add2cart{
  background-color: #df994d;
  padding: 5px;
  color: white !important;
}

.cart-button{
  margin: 0 !important;
  width: 100%;
}

.price{
  color: red;
  font-size: 19px;
}

.cart-page hr{
  border-color: #efefef !important;
  margin-top: 30px !important;
  margin-bottom: 10px !important;
}

.table-cart{
  margin: 0 !important;
  td,th{
    padding: 10px !important;
    color: black !important;
    text-align: center !important;
    a{
      margin: 0 !important;
    }
    input{
      width: 70px !important;
      height: 30px !important;
      text-align: center !important;
    }
  }
}

body.game-megamillions {
  .header-game {
    width: 100%;
    min-height: 125px;
    padding: 5px;

    background: #B30408 url(images/header_megamillions.png) no-repeat;
    background-size: cover;

    color: #fff;


    .jackpot {
      padding: 10px;
    }

    .draw-date {
      clear: both;
    }

    .tickets {
      input{
        color: $text-color;
        outline: none;

        &[type=text] {
          padding: 2px;
          text-align: center;
          width: 30px;
        }
      }
    }
  }
}

.notifications{
  padding-left:0px;
  &>li{
    vertical-align: middle;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 1px #e5e5e5 solid;
    margin-bottom: 10px;
    padding-left: 60px;
    position: relative;
    background-repeat: no-repeat;

    &.unread{
      background-color: #EFEFEF;
    }

    &>.controls {
      position:absolute;
      top: 5px;
      right: 5px;

      span{
        display: block;
        cursor: pointer;
        opacity: 0.5;
        margin-bottom: 6px;
        &:hover {
          opacity: 1;
        }
      }
    }
    p{
      height: 50px;
      vertical-align: middle;
      display: table-cell;
      small{
        color: #999;
      }
    }
  }
  .refund{
    background-image: url('./images/refund.gif');
  }
  .purchased{
    background-image: url('./images/purchased.png');
  }
  .paid{
    background-image: url('./images/paid.png');
  }
  .reward{
    background-image: url('./images/medal-512.png');
  }
}

.trans{
  th{
    background-color:rgba(205, 94, 86, 0.9);
    color:white;
  }
  tr:nth-child(2n)
    {
      background:#E7F6FD;
    }
}


.ticket{
  ul{
    padding-left:0;
  }
  .list{
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 0;
      text-align: left;
      li{
        position: relative;
        float: left;
        text-align: center;
        background: #FEC732;
        color: #000000;
        text-decoration: none;
        font-size: 14px;
        line-height: 27px;
        width: 29px;
        height: 29px;
        font-weight: bold;
        border-radius: 28px;
        margin-left: 1px;
      }
      .powerball{
          background-color:#F06;
          color:#ffffff;
        }
  }
}

.cart{
    position: absolute;
    top: 8px;
    right: -2px;
    padding: 2px 4px !important;
    font-size: 10px;
    margin: 0 !important;
    height: auto !important;
    background-color: black;
    width: 15px;
    border-radius: 50%;
    line-height: normal;
    color: #fff;
}

.thumb1{
  position: relative;
  background: #ffffff;
  text-align: center;
  margin: 57px 0 13px;
  padding: 25px 26px 30px;
  transition: all 0.4s ease;
  &:hover{
    background: #dc5e61;
    color: #ffffff;
    p{
      color: #ffffff;
    }
    .circle{
      background: #ffffff;
      color: #dc5e61;
    }
    h5 a{
      color: #2e3e4b;
      &:hover{
        color: #ffffff;
      }
    }

    .link{
      color: #2e3e4b;
      background: #ffffff;
      &:hover{
        color: #dc5e61;
        background: #2e3e4b;
      }
    }
  }
}