body.winnings {
    .actions {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
}




/* BEGIN PAGE GAME */
body.content-games {
    .header-game {
      width: 100%;
      min-height: 125px;
      padding: 5px;
      background-size: cover;
      color: #fff;

      .jackpot {
        padding: 10px;
      }
      .draw-date {
        clear: both;
        h5 {
            margin: 0px;
        }
      }

      @include media-query('max', '700px') {
        background-position: 100%;
      }
    }

    >main {
        padding-top: 10px;
    }
    .sizebar {
        .box {
            padding: 10px 3px;
            border-bottom: 1px solid #ccc;
            text-align: initial;
            a {
                display: inline-block;
            }
            &:first-child {
                padding-top: 100px;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .game {
        border-right: 1px solid #ccc;
        text-align: normal;
        .header {
            &>h1 {
                color: #4677c4
            }
        }
        .main-game {
            .view-game {
                margin-top: 10px;
                .top-controls {
                    margin-bottom: 10px;
                    .lucky-numbers {
                        background: #31B0D5;
                        display: inline-block;
                        color: #fff;
                        margin-right: 5px;
                        button {
                            border-radius: 0px;
                            background: #615F5F;
                            &:hover {
                                color: #E0E0E0;
                            }
                        }
                        strong {
                            padding: 0px 5px;
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }
                .tickets {
                    border: 1px solid #ccc;
                    padding: 0px 10px;
                    clear: both;
                    margin-bottom: 20px;
                    .ticket {
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        word-wrap: break-word;
                        padding: 15px 5px;
                        float: left;
                        margin: 10px 5px 0px;
                        @include box-divide(5, '10px');
                        
                        @include media-query('max', $screen-md-min) {
                            @include box-divide(4, '10px');
                        }

                        @include media-query('max', $screen-md-min) {
                            @include box-divide(3, '10px');
                        }

                        @include media-query('max', '580px') {
                            @include box-divide(2, '10px');
                        }

                        @include media-query('max', '380px') {
                            width: 100%;
                            margin-left: 0px;
                            margin-right: 0px;
                        }

                        .numbers {
                            position: relative;
                            .controls {
                                margin-bottom: 5px;
                            }
                            .choose {
                                margin: 10px 0px 5px;
                            }
                            .list-numbers {
                                // background: #F1F0F0;
                                padding: 5px 0px;
                                position: relative;
                                .number {
                                    border: 1px solid #ccc;
                                    margin: 1px 2px;
                                    display: inline-block;
                                    width: 19px;
                                    text-align: center;
                                    cursor: pointer;
                                    background: #fff;
                                    transition: background 0.3s;
                                    &:hover {
                                        background: #dc5e61;
                                        color: #fff;
                                        border-color: transparent;
                                    }
                                    &.selected {
                                        background: #184180;
                                        color: #fff;
                                    }
                                }
                                &:after {
                                    // content: attr(data-index);
                                    font-size: 170px;
                                    opacity: .3;
                                    @include absolute-center(true, true);
                                }
                                &:hover:after {
                                    z-index: -1;
                                    display: none;
                                }
                            }
                            .number-ball {
                                background: #F9DBDB;
                                .number {
                                    &.selected {
                                        background: #FF6818;
                                    }
                                }
                            }
                            i.done.fa {
                                position: absolute;
                                color: #47CC7D;
                                bottom: -20px;
                                right: -6px;
                                display: none;
                            }
                            hr {
                                margin: 5px 0 0;
                            }
                        }
                        &.active {
                            background: #D8EDFA;
                            i.done.fa {
                                display: block!important;
                            }
                        }
                    }
                    .multiplier {
                        margin: 20px 0px;
                        border-top: 1px solid #ccc;
                        padding-top: 20px;
                        clear: both;
                    }
                    .choose-lines {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        a {
                            display: inline-block;
                            margin-right: 20px;
                            text-decoration: underline;
                            &.active {
                                text-decoration: none;
                                color: #0A0808;
                            }
                        }
                    }
                }
            }
        }
    }
}

body.game-powerball {
    .header-game {
        background-image: url(images/header_powerball.png);
        background-color: #b71317;
    }
}

body.game-megamillions {
  .header-game {
    background-image: url(images/header_megamillions.png);
    background-color: #FFCD48;
  }
}
//END PAGE GAME

.my-acccount {
    .wrap-avatar {
        margin-top: 3px;
        margin-right: 3px;
        overflow: hidden;
        float: left;
        border-radius: 50%;
        width: 30px;
        height: 30px
    }
    .number-notify {
        background: #777777;
        color: #272525;
        border-radius: 15px;
        padding: 0px 4px;
        color: #fff;
    }
}



body.home {
    .tab-category {

        .tab-header {
            background: #E9E9E9;

            a {
                color: #45494E;
                display: block;
                float: left;
                text-transform: uppercase;
                text-align: center;
                padding: 12px 0px;
                margin-top: 7px;
                border-radius: 3px 3px  0 0;

                @include media-query('max', 678px) {
                    font-size: 2.3vw;
                }
                
                &:first-child {
                    margin-left: 7px;
                }
                &.active {
                    background: #fff;
                    color: $primary-bg-color;
                }
                &:focus {
                    text-decoration: none;
                }
            }
        }

        .tab-contents {
            background: #fff;
            
            @include media-query('min', 580px) {
                padding: 10px;
            }

            >div:not(.active) {
                display: none;
            }

            .item-product {
                
                @include box-divide-product(20px);

                overflow: hidden;
                border: 1px solid #dcdcdc;
                float: left;
                margin: 0px 10px 10px;
                position: relative;


                .product-link {
                    display: block;
                    width: 100%;
                    height: 360px;
                    overflow: hidden;
                    text-align: center;

                    p{
                        text-align: left;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding: 10px;
                        color: #222;
                        font-size: 1.2em;
                    }
                }

                .product-description {
                    //height: 155px;
                    overflow: hidden;
                    //padding:10px;
                    border: 1px solid #e2dede;
                    border-width: 1px 0;
                    position: absolute;
                    width: 100%;
                    z-index: 99;
                    top: 0;
                    height: 315px;
                    background-color: rgba(0, 0, 0, 0.7);
                    padding: 25px;
                    color: rgb(170, 170, 170);
                    visibility: hidden;
                }
                &:hover{
                    .product-description{
                        visibility: visible;
                    }
                }
            }

            .product-price {
                padding: 0px 10px;
                span {
                    color: #f0812b;
                    font-size: 2.5em;
                }
            }
        }
    }
    
    .nav-nyc {
        background: url(images/home_point_repeat01.gif);

        &.tab-category {
            .tab-header {
                background: #E9E9E9;

                a {
                    width: calc(100% / 8);

                    &:first-child {
                        width: calc(100% / 6 - 7px);
                    }
                }
            }

            .tab-contents {
            }
        }
    }

    .nav-vagas {
        background: url(images/home_point_repeat02.gif);

        &.tab-category {
            .tab-header {
                // background: #00BBAD;

                a {
                    width: calc(100% / 4);

                    &:first-child {
                        width: calc(100% / 4 - 7px);
                    }
                }
            }

            .tab-contents {
            }
        }
    }
    
}

body.product {
    .flexslider {
        margin: 0px;
        overflow: hidden;
    }
    .slides {
        // background: #ccc;
    }
    #carousel {
        height: 130px;
        overflow: hidden;
    }

    .box-detail {
        border: 1px solid #dcdcdc;
        padding: 10px 20px;
    }

    .main-detail {
        .title-show {
            border-bottom: 1px solid #ececec;
            margin-bottom: 20px;
        }
        
        .product-description {
            margin: 10px 0px;
        }

        .price {
            //color: #fff;
            //background: grey;
            padding: 20px;
            font-size: 1.5em;

            strong {
                font-size: 1.2em;
            }
        }

        .button-add-cart {
            margin-top: 30px;

            .add2cart {
                display: block;
                padding: 20px 50px;
                background: grey;
                color: #fff;
                width: 300px;
                margin: 0 auto;
                border-radius: 3px;
                text-align: center;
                font-size: 2em;

                &:focus {
                    text-decoration: none;
                }
            }
        }
    }

    .content-detail {
        margin-top: 20px;
    }
}

body.category {
    .wrap-categories {
        .item-product {
            @include box-divide-product(20px);
            float: left;
            margin: 10px 10px 20px 10px;

            a{
                display: block;
                height: 385px;
                overflow: hidden;

                .thumb {
                    text-align: center;
                    background-size: cover;
                    background-color: antiquewhite;
                    height: 320px;
                    position: relative;

                    &:before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        background-color: rgba(0,0,0,0.6);
                        display: none;
                    }
                    
                    &:after {
                        @include absolute-center(false, true);
                        content: attr(description);
                        width: 100%;
                        left: 0;
                        max-height: 80px;
                        overflow: hidden;
                        color: #fff;
                        text-align: center;
                        text-transform: uppercase;
                        padding: 0px 10px;
                        display: none;
                    }

                    &:hover{
                        &:after, &:before {
                            display: block;
                        }
                    }
                }
            }

            .product-detail {
                margin-top: 10px;

                .product-name {
                    color: #777777;
                    font-size: 1.2em;
                }

                .product-price {
                    color: #f0812b;
                    font-size: 2em;
                    white-space: nowrap;
                }
            }
        }
    }
}