body.winnings {
    .actions {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
}

body.game-powerball {
    .header-game {
        width: 100%;
        min-height: 125px;
        padding: 5px;
        background: #B30408 url(images/header_powerball.png) no-repeat;
        background-size: cover;
        color: #fff;
        .jackpot {
            padding: 10px;
        }
        .draw-date {
            clear: both;
        }
        .tickets {
            input {
                color: $text-color;
                outline: none;
                &[type=text] {
                    padding: 2px;
                    text-align: center;
                    width: 30px;
                }
            }
        }
    }
}


/* COMMON */

body.content-games {
    >main {
        padding-top: 10px;
    }
    .sizebar {
        .box {
            padding: 10px 3px;
            border-bottom: 1px solid #ccc;
            text-align: initial;
            a {
                display: inline-block;
            }
            &:first-child {
                padding-top: 100px;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .game {
        border-right: 1px solid #ccc;
        text-align: normal;
        .header {
            &>h1 {
                color: #4677c4
            }
        }
        .main-game {
            .view-game {
                margin-top: 10px;
                .top-controls {
                    margin-bottom: 10px;
                    .lucky-numbers {
                        background: #31B0D5;
                        display: inline-block;
                        color: #fff;
                        margin-right: 5px;
                        button {
                            border-radius: 0px;
                            background: #615F5F;
                            &:hover {
                                color: #E0E0E0;
                            }
                        }
                        strong {
                            padding: 0px 5px;
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }
                .tickets {
                    border: 1px solid #ccc;
                    padding: 0px 10px;
                    clear: both;
                    margin-bottom: 20px;
                    .ticket {
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        width: calc(100% / 5 - 10px);
                        word-wrap: break-word;
                        padding: 15px 5px;
                        float: left;
                        margin: 10px 5px 0px;
                        .numbers {
                            position: relative;
                            .controls {
                                margin-bottom: 5px;
                            }
                            .choose {
                                margin: 10px 0px 5px;
                            }
                            .list-numbers {
                                // background: #F1F0F0;
                                padding: 5px 0px;
                                position: relative;
                                .number {
                                    border: 1px solid #ccc;
                                    margin: 1px 2px;
                                    display: inline-block;
                                    width: 19px;
                                    text-align: center;
                                    cursor: pointer;
                                    background: #fff;
                                    transition: background 0.3s;
                                    &:hover {
                                        background: #dc5e61;
                                        color: #fff;
                                        border-color: transparent;
                                    }
                                    &.selected {
                                        background: #184180;
                                        color: #fff;
                                    }
                                }
                                &:after {
                                    // content: attr(data-index);
                                    position: absolute;
                                    font-size: 170px;
                                    opacity: .3;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                &:hover:after {
                                    z-index: -1;
                                    display: none;
                                }
                            }
                            .number-ball {
                                background: #F9DBDB;
                                .number {
                                    &.selected {
                                        background: #FF6818;
                                    }
                                }
                            }
                            i.done.fa {
                                position: absolute;
                                color: #47CC7D;
                                bottom: -20px;
                                right: -6px;
                                display: none;
                            }
                            hr {
                                margin: 5px 0 0;
                            }
                        }
                        &.active {
                            background: #D8EDFA;
                            i.done.fa {
                                display: block!important;
                            }
                        }
                    }
                    .multiplier {
                        margin: 20px 0px;
                        border-top: 1px solid #ccc;
                        padding-top: 20px;
                        clear: both;
                    }
                    .choose-lines {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        a {
                            display: inline-block;
                            margin-right: 20px;
                            text-decoration: underline;
                            &.active {
                                text-decoration: none;
                                color: #0A0808;
                            }
                        }
                    }
                }
            }
        }
    }
}

.my-acccount {
    .wrap-avatar {
        margin-top: 3px;
        margin-right: 3px;
        overflow: hidden;
        float: left;
        border-radius: 50%;
        width: 30px;
        height: 30px
    }
    .number-notify {
        background: #777777;
        color: #272525;
        border-radius: 15px;
        padding: 0px 4px;
        color: #fff;
    }
}



body.home {
    .tab-category {

        .tab-header {
            background: #FDB803;

            a {
                color: #fff;
                display: block;
                float: left;
                text-transform: uppercase;
                text-align: center;
                padding: 12px 0px;
                margin-top: 7px;
                border-radius: 3px 3px  0 0;
                
                &:first-child {
                    margin-left: 7px;
                }
                &.active {
                    background: #fff;
                    color: $primary-bg-color;
                }
                &:focus {
                    text-decoration: none;
                }
            }
        }

        .tab-contents {
            background: #fff;
            padding: 10px;

            >div:not(.active) {
                display: none;
            }

            .item-product {
                width: calc(100% / 3 - 20px);
                overflow: hidden;
                border: 1px solid #dcdcdc;
                float: left;
                margin: 0px 10px 10px;


                .product-link {
                    display: block;
                    width: 100%;
                    height: 360px;
                    overflow: hidden;
                    text-align: center;

                    p{
                        text-align: left;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding: 10px;
                        color: #222;
                        font-size: 1.2em;
                    }
                }
            }

            .product-description {
                height: 160px;
                overflow: hidden;
                padding:10px;
                border: 1px solid #e2dede;
                border-width: 1px 0;
            }

            .product-price {
                padding: 0px 10px;
                span {
                    color: #ff63b1;
                    font-size: 2.5em;
                }
            }
        }
    }
    
    .nav-nyc {
        background: url(http://tour.dotdotbuy.com/templets/haitao/images/home_point_repeat01.gif);

        &.tab-category {
            .tab-header {
                background: #FDB803;

                a {
                    width: calc(100% / 6);

                    &:first-child {
                        width: calc(100% / 6 - 7px);
                    }
                }
            }

            .tab-contents {
            }
        }
    }

    .nav-vagas {
        background: url(http://tour.dotdotbuy.com/templets/haitao/images/home_point_repeat02.gif);

        &.tab-category {
            .tab-header {
                background: #00BBAD;

                a {
                    width: calc(100% / 4);

                    &:first-child {
                        width: calc(100% / 4 - 7px);
                    }
                }
            }

            .tab-contents {
            }
        }
    }
    
}